!!! XML
!!!
%html
  %head
    %title Hello World.
    %script(src='public/jquery.js' type='text/javascript')
    %script(src='public/application.js' type='text/javascript')
    :css
      canvas { border: 1px solid black; }  
  %body{:onload => "draw();"}
    %canvas#tutorial{:height => "600", :width => "600"}